<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203853330417-t5je1k2qekkmvpb52svhn9gqpbluicp6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203853330417-t5je1k2qekkmvpb52svhn9gqpbluicp6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>203853330417-7u7df0b188pkt6d4ui3l8a154g80os1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBcOh2NoDT1qtPmGnphP8StzASln_i-1oc</string>
	<key>GCM_SENDER_ID</key>
	<string>203853330417</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.culturize</string>
	<key>PROJECT_ID</key>
	<string>culturize-5c76f</string>
	<key>STORAGE_BUCKET</key>
	<string>culturize-5c76f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203853330417:ios:a46c0178f6234371d5b650</string>
</dict>
</plist>